#cancha {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-color: #c1001b;
}

#cancha img {
    width: 100vw;
    border: 3px solid #c1001b;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}