
/*Genaro*/

.camisaEscudo {
    display: flex;
    margin-inline: 80px;
    gap: 30%;
    padding: 30px;
}

.camiseta-escudo {
    width: 200px;
    border-radius: 20px;
    background: rgba(22, 2, 6, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 12px rgb(5, 5, 5);
    transition: all 0.3s ease-in;
}

.camiseta-escudo:hover {
    transform: scale(1.05);
    box-shadow: 0px 14px 16px rgb(5, 5, 5);
}

.texto {
    color: #f22f2f;
    text-shadow: 0px 3px 3px #aaa;
}