@import url(./base.css);
@import url(./historia.css);
@import url(./camiseta_y_escudo.css);
@import url(./jugadores.css);
@import url(./cancha.css);
@import url(./galeria.css);
@import url(./sponsors.css);