.auspiciantes-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-block: 1em;
}

.auspiciantes-track {
    display: flex;
    animation: scrollInfinite 120s linear infinite;
    width: max-content;
    gap: 20px;
}

@keyframes scrollInfinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.auspiciante-item {
    display: flex;
    flex-shrink: 0;
    padding-block: 0;
    padding-inline: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    width: 225px;
    height: 150px;

    & span {
      position: relative;
      z-index: 2;
      text-align: center;
      font-weight: bold;
      font-size: 1.6rem;
      text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
      color: #fff !important;
    }
}

.auspiciante-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: opacity(0.4);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    pointer-events: none;
    
    @media (min-width: 1200px) {
      filter: grayscale(100%) opacity(0.2);
    }
}

.auspiciante-item:hover .auspiciante-logo {
  @media (min-width: 1200px) {
    filter: grayscale(0%) opacity(0.4);
    transform: scale(1.05);
  }
}