:root {
  /* Colores oficiales basados en la paleta de Pokémon */
  --normal: rgba(168, 168, 120, 0.5);
  --fire: rgb(240, 128, 48, 0.5);
  --water: rgb(104, 144, 240, 0.5);
  --electric: rgb(248, 208, 48, 0.5);
  --grass: rgb(120, 200, 80, 0.5);
  --ice: rgb(152, 216, 216, 0.5);
  --fighting: rgb(192, 48, 48, 0.5);
  --poison: rgb(160, 64, 160, 0.5);
  --ground: rgb(236, 192, 104, 0.5);
  --flying: rgb(168, 144, 240, 0.5);
  --psychic: rgb(248, 136, 136, 0.5);
  --bug: rgb(168, 184, 32, 0.5);
  --rock: rgb(184, 168, 84, 0.5);
  --ghost: rgb(112, 88, 152, 0.5);
  --dragon: rgb(112, 48, 248, 0.5);
  --dark: rgb(112, 88, 72, 0.5);
  --steel: rgb(184, 184, 208, 0.5);
  --fairy: rgb(238, 153, 172, 0.5);
  --steel: rgb(76, 76, 76, 0.5);
  --unknown: rgb(104, 160, 144, 0.5);
}

body {
  background: url('../img/bg.png') no-repeat fixed center/cover;
  min-height: 100dvh;
  height: 100dvh;
  margin: 0;
  padding: 20px;
  position: relative;
}

.product-card {
  width: 15rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin: auto;
}

.product-card-text{
  min-height: 4em;
  max-height: 6em;
  overflow-x: auto;
  overflow-y: clip;
  text-overflow: ellipsis;  /* ver como hacer para que queden puntos suspensivos */
}

.product-card-title{
  height: 1.3em;
  overflow-x: auto;
  overflow-y: clip;
  text-overflow: ellipsis;  /* ver como hacer para que queden puntos suspensivos */
}