:root {
  /* Colores oficiales basados en la paleta de Pokémon */
  --solid_normal: #a8a878;
  --solid_fire: #f08030;
  --solid_water: #6890f0;
  --solid_electric: #f8d030;
  --solid_grass: #78c850;
  --solid_ice: #98d8d8;
  --solid_fighting: #c03030;
  --solid_poison: #a040a0;
  --solid_ground: #ecc068;
  --solid_flying: #a890f0;
  --solid_psychic: #f88888;
  --solid_bug: #a8b820;
  --solid_rock: #b8a854;
  --solid_ghost: #705898;
  --solid_dragon: #7030f8;
  --solid_dark: #705848;
  --solid_steel: #b8b8d0;
  --solid_fairy: #ee99ac;
  /* Colores transparentes basados en la paleta de Pokémon */
  --transparent_normal: rgba(168, 168, 120, 0.5);
  --transparent_fire: rgb(240, 128, 48, 0.5);
  --transparent_water: rgb(104, 144, 240, 0.5);
  --transparent_electric: rgb(248, 208, 48, 0.5);
  --transparent_grass: rgb(120, 200, 80, 0.5);
  --transparent_ice: rgb(152, 216, 216, 0.5);
  --transparent_fighting: rgb(192, 48, 48, 0.5);
  --transparent_poison: rgb(160, 64, 160, 0.5);
  --transparent_ground: rgb(236, 192, 104, 0.5);
  --transparent_flying: rgb(168, 144, 240, 0.5);
  --transparent_psychic: rgb(248, 136, 136, 0.5);
  --transparent_bug: rgb(168, 184, 32, 0.5);
  --transparent_rock: rgb(184, 168, 84, 0.5);
  --transparent_ghost: rgb(112, 88, 152, 0.5);
  --transparent_dragon: rgb(112, 48, 248, 0.5);
  --transparent_dark: rgb(112, 88, 72, 0.5);
  --transparent_steel: rgb(184, 184, 208, 0.5);
  --transparent_fairy: rgb(238, 153, 172, 0.5);
  --transparent_steel: rgb(76, 76, 76, 0.5);
  --transparent_unknown: rgb(104, 160, 144, 0.5);
  /* Colores de fuentes de según el juego */
  --light-font: #ebebeb;
  --dark-font: #222;
}

body {
  background: url('../img/bg.png') no-repeat fixed center/cover;
  min-height: 100dvh;
  height: 100dvh;
  margin: 0;
  padding: 20px;
  position: relative;
}

.product-card {
  width: 15rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin: auto;
}

.product-card-text{
  min-height: 4em;
  max-height: 6em;
  overflow-x: auto;
  overflow-y: clip;
  text-overflow: ellipsis;  /* ver como hacer para que queden puntos suspensivos */
}

.product-card-title{
  height: 1.3em;
  overflow-x: auto;
  overflow-y: clip;
  text-overflow: ellipsis;  /* ver como hacer para que queden puntos suspensivos */
}

.badge {
    border-radius: 12px;
    font-size: 0.75rem;
    text-transform: capitalize;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    letter-spacing: 0.5px;
    min-width: 60px;
    max-width: 120px;   
    width: auto;
    flex-shrink: 0;
    margin: 0.25rem;
}

article.card {
    transition: all 0.3s ease-in-out;
    
    & img {
        transition: all 0.3s ease-in-out;
    }

    &:hover{
        transform: translateY(-5px);
        transform: scale(1.02);
        box-shadow: 0 0 10px 2px var(--card-color);
        
        & img {
            transform: scale(1.1) rotate(-5deg);
        }
    }
}

#detallesModal main article section {
  height: 410px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Para móviles pequeños */
#modal-header section {
  margin: auto;

  @media (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: space-around !important;
      gap: 0.5rem;

      & span.text-muted,
      & h2 {
        flex-shrink: 0;
        font-size: 1.25rem !important;
      }
      
      & #modal-types {
        order: 1;
        width: 100%;
        justify-content: center;
        margin-top: 0.25rem;
      }

      & .btn-close {
        position: static;
      }
  }
}

#pokemonCarousel img {
  width: 220px !important;
  height: 220px; 
  object-fit: contain;
  margin: auto;
}

#modalTabs {
  font-size: 0.9rem;

  @media (max-width: 576px) {
    display: grid !important;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    gap: 0.25rem;

    & .nav-link {
      text-align: center;
      font-size: 0.8rem;
      padding: 0.5rem 0.25rem;
    }
  }
}

/* Habilidades */
#habilidades {
  margin: auto;

  & ul {
    list-style: none;
    padding: 0;

    & li {
        border-left: 4px solid var(--card-color);
        transition: all 0.2s ease;

        &:hover {
          transform: translatey(-5px);
          scale: 1.01;
          box-shadow: 0 0 10px 5px rgba(155, 155, 155, 0.3);
        }

        & aside {
          border-bottom: 1px solid rgba(0,0,0,0.1);
          padding-bottom: 0.5rem;
        }
    }
  }
}

.games-filter {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
    margin-bottom: 1rem;
    transition: all 0.3s ease;

    &:hover {
      border-color: rgba(255, 255, 255, 0.3);
    }

    & summary {
      color: white;
      padding-block: 0.75rem;
      padding-left: 1rem;
      padding-right: 2.5rem;
      font-weight: 600;
      cursor: pointer;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      position: relative;
      transition: all 0.3s ease;
      border-radius: 12px ;

      &::-webkit-details-marker {
        display: none;
      }
      
      &::after {
        content: "✖";
        transform: rotate(45deg);
        font-size: 0.9em;
        transition: transform 0.3s ease;
        margin-left: 0.5rem;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
        position: absolute;
        right: 1rem;

        @media (max-width: 768px) {
          font-size: 0.8em;
        }
      }

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }

      & span {
        font-size: 1rem;
        letter-spacing: 0.5px;
        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      & small {
          font-size: 0.8rem;
          opacity: 0.9;
          margin-left: 0.5rem;
      }

      @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
      }
    }

    &[open] summary {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &::after {
        transform: rotate(90deg);
      }
    }

    & nav#games-buttons {
      padding: 1rem;
      background: rgba(255,255,255,0.95);
      max-height: 300px;
      overflow-y: auto;

      & ::-webkit-scrollbar {
        width: 6px;
      }
  
      & ::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 3px;
      }

      & ::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 3px;

            &:hover {
              background: rgba(0, 0, 0, 0.5);;
            }
      }

      & .btn {
        transition: all 0.2s ease;
        min-width: clamp(120px, 16%, 200px) !important;
        color: var(--dark-font);

        &:hover {
            background-color: var(--games-button);
            color: var(--font-color);
            box-shadow: 0 2px 5px var(--games-button);
        }

        &.active {
            background-color: var(--games-button);
            color: var(--font-color);
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        @media (max-width: 768px) {
          max-width: 120px;
        }
      }

      @media (max-width: 768px) {
        padding: 0.75rem;
        justify-content: space-evenly !important;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 0.75rem;
    }
}

#generation-header{
  color: var(--font-color) !important;
}

/* Estilos para headers ordenables */
#moves-table-header th[data-sort-target] {
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: all 0.2s ease;
}

#moves-table-header th[data-sort-target]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Header activo */
#moves-table-header th.active-sort {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--solid_fighting)
}

/* Flechas con pseudo-elementos */
#moves-table-header th.active-sort[data-ascending="true"]::after {
  position: absolute;
  right: 1.5rem;
  content: " ▼ ";
  font-weight: bold;
}

#moves-table-header th.active-sort[data-ascending="false"]::after {
  position: absolute;
  right: 1rem;
  content: " ▲ "; 
  font-weight: bold;
}