body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(0, 0%, 95%);
} /* estilos del body */

.calculadora {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #aaa;
  width: 220px;
} /* estilos del div que muestra la calculadora */

.display {
  background: #222;
  color: white;
  font-size: 28px;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
} /* estilos del div que muestra el resultado */

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
} /* estilos del div que contienelos botones */

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
} /* estilos de los botones */

button:hover {
  background: #ddd;
} /* estilos de los botones al pasar el ratón por encima */


.igual {
  background: #4CAF50;
  color: white;
} /* estilos del botón que ejecuta la función calcular */

.igual:hover {
  background: #43A047;
} /* estilos del botón que ejecuta la función calcular al pasar el ratón por encima */

.operador {
  background: #ffa500;
  color: white;
} /* estilos del botón que ejecuta la función calcular */

.operador:hover {
  background: #ff9800;
} /* estilos del botón que ejecuta la función calcular al pasar el ratón por encima */

.limpiar {
  background: #e53935;
  color: white;
} /* estilos del botón que borra todo */

.limpiar:hover {
  background: #d33935;
}

.igual,
.operador,
.limpiar,
button:hover {
  box-shadow: 0 0 5px #222;
}
