body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  height: 100vh; 
}

header {
  min-height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-size: 30px;
  margin: auto;
  color: #222;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 90vh;
} 

.calculadora {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #aaa;
  width: 220px;
} 

.display {
  background: darkgreen;
  color: yellowgreen;
  font-size: 28px;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
} 

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
} 

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: khaki;
  cursor: pointer;
} 

button:hover {
  background: #978f46;
} 

.igual {
  background: #4CAF50;
  color: white;
} 

.igual:hover {
  background: #43A047;
} 

.operador {
  background: #ffa500;
  color: white;
}

.operador:hover {
  background: #ff9800;
} 

.limpiar {
  background: #e53935;
  color: white;
} 

.limpiar:hover {
  background: #d33935;
}

button.igual:hover,
button.operador:hover,
button.limpiar:hover,
button:hover {
  box-shadow: 0 0 5px #222;
}
