body {
  background-color: #ebebeb;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh; /* ocupa todo el alto de la ventana */
  display: flex; /* Contenenedor en modo de diseño de flexible */
  justify-content: center; /* Alineación horizontal centrada */
  align-items: center; /* Alineación vertical centrada */
  margin-block: 5%;
}

.tarjeta-dni {
  height: auto;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-superior {
  color: #666;
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
  margin-bottom: -3px;
  line-height: 0.2;
  letter-spacing: -0,2px;
}
/* Francoq quiere republica argentina  mas grande */
.titulo-seccion {
  font-size: 10px;
  margin-bottom: -15px;
  text-transform: capitalize;
}

.info-documento {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-horizontal {
margin-bottom: 15px;
margin-top: -15px;
margin-left: -3px;
}

.info-horizontal p{
  margin-right: 2px;
}

#pais {
  font-size: 20px;
  font-weight: bolder;
}