/* layout.css: estructura de página (header, footer, main, sidebar) */

header {
  min-height: 95px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin-inline: auto;
  margin-block: 0;
  position: fixed;
  box-shadow: 0 0 5px 5px rgba(120, 120, 120, 0.2 );
}

header .top-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: auto;
  padding-block:  .5em ;
}

header .top-header-container figure {
  margin: 0;
  width: 10%;
}

header .top-header-container figure img {
  width: 70px;
  margin: 0;
}

header .top-header-container figure button {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

header .top-header-container section {
  text-align: center;
  margin: auto;
  padding: 0;
  width: 75%;
}

header .top-header-container section h1 {
  margin-inline: auto;
  margin-block: .2em;
  padding: 0;
  font-size: 1.2em;
  width: 100%;
}

header .top-header-container section p {
  margin: 0.25em 0 1em 0;
  font-size: .9em;
  font-style: italic;
}

header nav{
  display: none;
  font-size: .7em;
  margin-bottom: .5em;
  background-color: #fff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 1.5em;
  row-gap: .5em;
  list-style: none;
  padding: 0;
}

header nav ul li {
  flex-grow: .25;
  min-width: 25%;
}

header nav ul li:last-child {
  text-align: right;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-block: .5em;
  height: 10vh;
  margin: 0;
  text-align: center;
}

footer p,
footer nav {
  margin: auto;
  padding: 0;
  width: 100%;

}

footer nav ul {
  display: flex;
  flex-direction: row;
  margin-block: 2px;
  margin-inline: auto;
  padding: 0;
  list-style: none;
}

footer nav ul li {
  margin: auto;
}

.mobile-break {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
}

.sidebar {
  display: none;
  width: 100%;
  background: #f4f4f4;
  padding: 2em;
  border-right: 1px solid #ccc;
  margin: 0;
  flex-shrink: 0;
  margin-top: 1em;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sections-container {
  padding: 1.5rem;
  background-color: #ebebeb;
}

.sidebar,
.sections-container {
  height: auto;
  overflow-y: auto;
}

.hidden{
  display: block;
}

.unseen {
  display: none;
}


@media (min-width: 1200px) {

  header {
    min-height: unset;
    height: 23vh;
    max-height: 125px;
    position: static;
  }

  header .top-header-container figure {
    width: 10%;
  }

  header .top-header-container figure img {
    width: 80px;
  }

  header .top-header-container figure button {
    font-size: 35px;
  }

  header .top-header-container section {
    width: 100%;
  }

  header .top-header-container section h1 {
    font-size: 1.5em;
    margin-block: .5em;
  }

  header nav {
    display: block;
    margin-bottom: 1em;
  }

  header nav ul li {
    flex-grow: .15;
    min-width: 15%;
  }

  header nav ul li:last-child {
  text-align: center;
}

  main{
    flex-direction: row;
    min-height: 72vh;
    margin-top: unset;
  }

  .sidebar {
    display: block;
    width: 20%;
    padding: 0.5rem;
    margin-top: unset;
  }

  .sections-container {
    width: 100%;
  }

  footer{
    padding-block: .5em;
    height: 10vh;
    max-height: 35px;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-break {
    display: inline;
  }

  footer nav ul{
    flex-direction: row;
    margin: auto;
    align-items: center;
  }

  .hidden {
    display: none;
  }
}