#historia {
    padding: 2rem 1rem;
    background-color: rgba(244, 244, 244, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#historia h2 {
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    margin-bottom: 2rem;
}

.historia-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    transition: all 0.3s ease-in;
}

.historia-track {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
}

.historia-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;

    backdrop-filter: blur(4px);
    color: black;
}

.historia-container:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.5);
}

.historia-card p {
    margin-bottom: 0 !important;
}

.tab-content {
    font-size: 1.1rem;
}


/* Responsive */
@media (max-width: 768px) {
    .historia-container {
        padding: 1rem;
    }

    .historia-track {
        font-size: 1rem;
    }
}